Adrien Thebo <adrien@puppetlabs.com> Adrien Thebo <adrien.thebo@gmail.com>
Adrien Thebo <adrien@puppetlabs.com> adrienthebo <adrien@puppetlabs.com>
Ben Hughes <ben@puppetlabs.com> Ben H <git@mumble.org.uk>
Chris Price <chris@puppetlabs.com> cprice
Daniel Pittman <daniel@puppetlabs.com> Daniel Pittman <daniel@rimspace.net>
David Lutterkort <lutter@redhat.com> lutter <lutter@1f5c1d6a-bddf-0310-8f58-fc49e503516a>
Deepak Giridharagopal <deepak@puppetlabs.com> Deepak Giridharagopal <deepak@brownman.org>
Dominic Maraglia <dominic@puppetlabs.com> <dmaraglia@gmail.com>
James Turnbull <james@puppetlabs.com> James Turnbull <james@lovedthanlost.net>
James Turnbull <james@puppetlabs.com> root <root@absinthe.lovedthanlost.net>
Jeff McCune <jeff@puppetlabs.com> <jeff.mccune@northstarlabs.net>
Jeff McCune <jeff@puppetlabs.com> Jeffrey J McCune <jeff@northstarlabs.net>
Jeff McCune <jeff@puppetlabs.com> Jeffrey McCune <mccune.jeff@gmail.com>
Jeff McCune <jeff@puppetlabs.com> mccune <mccune@1f5c1d6a-bddf-0310-8f58-fc49e503516a>
Josh Cooper <josh@puppetlabs.com> joshcooper <josh+github@puppetlabs.com>
Kelsey Hightower <kelsey@puppetlabs.com> Kelsey Hightower <kelsey.hightower@gmail.com>
Ken Barber <ken@puppetlabs.com> Ken Barber <ken@bob.sh>
Luke Kanies <luke@puppetlabs.com> <luke@980ebf18-57e1-0310-9a29-db15c13687c0>
Luke Kanies <luke@puppetlabs.com> Luke Kanies <luke@madstop.com>
Luke Kanies <luke@puppetlabs.com> luke <luke@1f5c1d6a-bddf-0310-8f58-fc49e503516a>
Matthaus Owens <matthaus@puppetlabs.com> Matthaus Litteken <matthaus@puppetlabs.com>
Matthaus Owens <matthaus@puppetlabs.com> Matthaus Litteken <mlitteken@gmail.com>
Matthaus Owens <matthaus@puppetlabs.com> Matthaus Owens <mlitteken@gmail.com>
Moses Mendoza <moses@puppetlabs.com> MosesMendoza <mendoza.moses@gmail.com>
Nick Fagerlund <nick.fagerlund@puppetlabs.com> nfagerlund <nick.fagerlund@gmail.com>
Nigel Kersten <nigel@puppetlabs.com> Nigel Kersten <nigel@explanatorygap.net>
Nigel Kersten <nigel@puppetlabs.com> Nigel Kersten <nigelk@google.com>
Ohad Levy <ohadlevy@gmail.com> Ohad Levy <ohad.levy@infineon.com>
Peter Meier <peter.meier@immerda.ch> duritong <peter.meier@immerda.ch>
